<header class="fullWidth">
  <div>
    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <a routerLink="../home"><li>Home</li></a>
          <a routerLink="../form"><li>Form</li></a>
          <a routerLink="../book"><li>Book</li></a>
          <a routerLink="../about"><li>About us</li></a>
          <a routerLink="#"><li>Show me more</li></a>
        </ul>
      </div>
    </nav>
  </div>
  <h1 class="title">My Memories Manager</h1>
</header>
