<h1>{{ birth.name }}</h1>
<p>{{ birth.birthday }}</p>

<!-- <div class="parent">
  <div
    class="event"
    *ngFor="let event of events; index as i"
    [ngClass]="{ expanded: status, notExpanded: !status }"
    (click)="clickEvent(i)"
  >
    <h2>{{ event.title }}</h2>
    <cl-image class="pic" [public-id]="event.image"></cl-image>
    <div class="innerEvent" *ngIf="index === i">
      <p>{{ event.date }}</p>
      <p>{{ event.description }}</p>
      <cl-image class="pic" [public-id]="event.image"></cl-image>
    </div>
  </div>
</div> -->
<button (click)="addNewEvent()">add new event</button>

<!-- [ngclass]="{status ? 'expanded' : 'notExpanded'}"
(click)="clickEvent()" [ngclass]="{ expanded: status, notExpanded: !status }"
-->
<div class="parent">
  <div class="event" *ngFor="let event of events; index as i">
    <div (click)="clickEvent(i)">
      <h2>{{ event.title }}</h2>
      <cl-image class="pic" [public-id]="event.image"></cl-image>
    </div>

    <div *ngIf="index === i">
      <p>{{ event.date | date }}</p>
      <p>{{ event.description }}</p>
    </div>
  </div>
</div>
