:host-context(.theme-blue) .btn {
  background-color: #3d6098;
}
:host-context(.theme-pink) .btn {
  background-color: #f53163;
}
:host-context(.theme-yellow) .btn {
  background-color: #f0d200;
}

:host-context(.theme-blue) .dot {
  background-color: #3d6098;
}
:host-context(.theme-pink) .dot {
  background-color: #f53163;
}
:host-context(.theme-yellow) .dot {
  background-color: #f0d200;
}

:host-context(.theme-blue) .tipDot {
  background-color: #f04b4c;
}
:host-context(.theme-pink) .tipDot {
  background-color: #e4c2c1;
}
:host-context(.theme-yellow) .tipDot {
  background-color: #a767ff;
}

:host-context(.theme-blue) .left-align {
  background-color: #f04b4c;
}
:host-context(.theme-pink) .left-align {
  background-color: #e4c2c1;
}
:host-context(.theme-yellow) .left-align {
  background-color: #a767ff;
}

:host-context(.theme-blue) .left-align:hover {
  background-color: #3d6098;
}
:host-context(.theme-pink) .left-align:hover {
  background-color: #f53163;
}
:host-context(.theme-yellow) .left-align:hover {
  background-color: #f0d200;
}

.head:hover {
  cursor: pointer;
}
.tipLine {
  margin-right: 25px;
}
.dot:hover {
  cursor: pointer;
}
.left-align {
  background-color: indigo;
  border-radius: 10px;
}

.left-align:hover {
  cursor: pointer;
  background-color: hotpink;
}

.expandedView {
  display: none;
}
.btn-flex:hover {
  cursor: pointer;
}
ul {
  padding: 10px;
  margin: 0 20px;
  text-align: left;
}

.everything {
  font-family: "Montserrat", sans-serif;
  margin: 20px;
}

.timelineHead {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.parent {
  text-align: center;
}

.mgl-timeline-line {
  background-color: transparent !important;
}

.timelineDiv {
  height: 85vh;
  overflow: auto;
}

.timelineDiv::-webkit-scrollbar {
  display: none;
  /*------------------------ is this a good idea?---------------------- */
}

.dot {
  background-color: lightseagreen;
}

.tipDot {
  background-color: green;
}

.btn {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
  background-color: #aafac8;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.picBox {
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .btn {
    display: block;
    width: auto;
    padding: 10px;
    position: absolute;
    top: 6%;
    right: 10px;
    background-color: #aafac8;
    font-weight: bold;
  }

  .expandedView {
    display: block;
    width: 40%;
    text-align: center;
    background-color: #e6e6e6;
    margin-top: 2%;
    height: auto;
    /* box-shadow: 20px 20px 30px 10px lightgray; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    min-width: 400px;
    max-width: 500px;
    overflow: hidden;
    /* padding-bottom: 20px; */
    border-radius: 10px;
  }

  .picBox {
    height: 300px;
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 30px;
  }

  .pic {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .pageContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .eventDiv {
    position: relative;
  }

  .eventTitle {
    /* color: lightseagreen; */
    font-weight: bold;
    /* -webkit-text-stroke: 0.05px black; */
    padding: 10px;
    padding-top: 15px;
  }

  .timelineDiv {
    width: 45%;
    margin: 0%;
  }

  .timelineDiv > * mgl-timeline-entry-content {
    display: none;
  }

  .tipBox {
    border: solid green 2px;
  }

  .expanded-info {
    width: 400px;
    height: 100px;
    overflow: auto;
    margin: 20px auto;
    vertical-align: middle;
  }

  .expanded-info p {
    padding: 5px;
  }

  .fas {
    height: 22px;
    width: 22px;
    border: none;
    background-color: whitesmoke;
    border-radius: 100%;
  }

  .buttonBox {
    position: absolute;
    right: 5px;
    top: -20px;
    margin-bottom: 10px;
    display: block;
  }

  .delete {
    margin-right: 5px;
  }
}

@media screen and (min-width: 900px) {
  .everything {
    font-family: "Montserrat", sans-serif;
    margin: 0 40px;
  }

  .expandedView {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #e6e6e6;
    margin-top: 50px;
    min-width: 500px;
    max-width: 600px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}
