.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hide {
  display: none;
}

.event {
  background-color: pink;
  width: 400px;
  text-align: center;
  margin: 20px;
  border: solid black 2px;
  border-radius: 10px;
}

.babyFacts {
  border: solid black 2px;
}
.picBox {
  box-sizing: border-box;
  height: 400px;
  width: 400px;
  background-color: blue;
  display: table-cell;
  vertical-align: middle;
  /* display: inline-block; */
}

.test {
  width: 100px;
  height: 100px;
  background-color: darkgreen;
}

@media screen and (min-width: 600px) {
  .parent {
    background-color: red;

    overflow: auto;
    align-items: flex-end;
  }
  .testParent {
    height: 90vh;
    overflow: auto;
  }
  .expanded {
    position: fixed;
    left: 100px;
    top: 100px;
    border: solid black 2px;
    border-radius: 10px;
  }
  .babyFacts {
    width: 50%;
    /* height: 150px; */
    position: fixed;
    left: 100px;
    bottom: 10px;
    background-color: white;
  }
}
