<app-header></app-header>
<button class="toEvents" (click)="nextPage()">Go To Events >></button>

<div class="container">
  <h2 class="title">Add a new life event!</h2>

  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <p class="text">
      Fill in each field below to add a new event to your child's timeline.
    </p>
    <label for="title">Title</label>
    <!-- <input [(ngModel)]="newEvent.title" type="text" name="title" id="title" /> -->
    <input ngModel type="text" name="title" id="title" />

    <label for="date">Date</label>
    <input ngModel type="date" name="date" id="date" />

    <label for="description">Description</label>
    <textarea ngModel rows="10" cols="100" name="description" id="description">
    </textarea>
    <div class="titleContainer">
      <!-- <h4>Add photo</h4> -->
    </div>
    <app-photo-upload (publicId)="getPhotoId($event)"></app-photo-upload>

    <button class="btn">Add Event</button>
  </form>
</div>
