<!-- <router-outlet></router-outlet> -->
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label for="title">Title</label>
  <!-- <input [(ngModel)]="newEvent.title" type="text" name="title" id="title" /> -->
  <input ngModel type="text" name="title" id="title" />

  <label for="date">Date</label>
  <input ngModel type="date" name="date" id="date" />

  <label for="description">Description</label>
  <textarea rows="10" cols="100" name="description" id="description">
  </textarea>

  <app-photo-upload (publicId)="getPhotoId($event)"></app-photo-upload>

  <button class="btn">Add Event</button>
</form>
