.container {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

:host-context(.theme-blue) .btn.theme {
  background-color: #3d6098;
  color: white;
}
:host-context(.theme-pink) .btn.theme {
  background-color: #f53163;
}
:host-context(.theme-yellow) .btn.theme {
  background-color: #f0d200;
}

:host-context(.theme-blue) .contain {
  background-color: #abd3eb;
}
:host-context(.theme-pink) .contain {
  background-color: #f53163;
}
:host-context(.theme-yellow) .contain {
  background-color: yellow;
}
.inputStyle {
  background-color: whitesmoke;
  border: none;
  border-bottom: solid black 2px;
  font-family: "Montserrat", sans-serif;
}
.text {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 200;
}
.picBox {
  width: 100%;
  text-align: center;
}
form {
  /* border: 1px solid black; */
  /* box-shadow: 20px 20px 50px 10px rgba(204, 204, 204, 1); */

  /* margin: 20px 60px;
  padding: 20px; */
  width: 100%;
  border-radius: 10px;
  text-align: left;
}

/* :host-context(.theme-pink) form {
  border: 2px solid pink;
}

:host-context(.theme-blue) form {
  border: 2px solid blue;
} */

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  /* border-radius: 10px; */
  box-sizing: border-box;
  /* border: none;
  border-bottom: 1px solid grey; */
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  border: none;
  background-color: #aafac8;
  font-weight: bold;
  margin-top: 30px;
  border: solid black 1px;
}

label {
  font-size: 1em;
}
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  /* border-radius: 10px; */
  padding: 12px;
}

.titleContainer {
  text-align: center;
}

.toEvents {
  display: block;
  width: 97%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  border: none;
  background-color: #aafac8;
  font-weight: bold;
  margin: 10px;
  box-sizing: border-box;
  align-self: center;
  margin-top: 30px;
  margin-right: 10px;
}
@media screen and (min-width: 600px) {
  .container {
    width: 100%;
  }

  form {
    margin-top: 20px;
    width: 75%;
    margin: auto;
    box-shadow: 20px 20px 50px 10px rgba(204, 204, 204, 1);
    /* margin: 20px 60px; */
    padding: 20px;
    background-color: whitesmoke;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    text-align: center;
  }
  form {
    width: 50%;
  }
  .toEvents {
    position: absolute;
    right: 0px;
    top: 50px;
    display: block;
    width: auto;
    /* padding: 10px; */
    border-radius: 10px;
    margin-top: 5px;
    background-color: #aafac8;
    font-weight: 900px;
  }
  .title {
    margin-top: 75px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .text {
    text-align: center;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: 200;
  }
}
