.form-control {
  display: block;
  width: 98%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.upload_button {
  display: block;
  width: 98%;
  padding: 8px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.img{
  width: 100px;
  height: 100px;
}
