/* You can add global styles to this file, and also import other style files */
/* html {
  /* background-color: rgb(241, 241, 241); */
/* html,
body {

} */
* {
  padding: 0;
  margin: 0;
}

.tipLine .mgl-timeline-line {
  background-color: transparent !important;
}

/* @media screen and (min-width: 600px) {
  .eventDiv {
    padding: 0px;
  }
  mgl-timeline-entry-content {
    padding: 0px;
  }
} */
