img {
  width: 100%;
  height: 85vh;
}

.container {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.center {
  text-align: center;
}

.copy {
  background-color: lightgray;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.form {
  background-color: lightgray;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

.form h3 {
  text-align: center;
}

input {
  display: block;
  width: 97%;
  padding: 5px;
  margin-bottom: 5px;
}

/* .content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
}
.copy {
  width: 40%;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  margin: 2%;
}
form {
  background: #bfc0c0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

h3 {
  margin-top: 0px;
}
button {
  margin: 5px;
} */
