<div class="container">
  <div class="content">
    <div class="background">
      <div>
        <nav role="navigation">
          <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <a routerLink="../home"><li>Home</li></a>
              <a routerLink="../form"><li>Form</li></a>
              <a routerLink="../book"><li>Book</li></a>
              <a routerLink="../about"><li>About us</li></a>
              <a routerLink="#"><li>Show me more</li></a>
            </ul>
          </div>
        </nav>
      </div>

      <div class="white">
        <h1>My Memories Manager</h1>
        <p>You make the memories, we'll keep them straight</p>
      </div>
    </div>
    
    <div class="info">
      <div class="copy">
        <h2 class="start">Start Here!</h2>
        <p>
          My Memories Manager allows you to record and share the important
          developments in the life of your child. Make your own interactive
          timeline to document the growth of your child. Along the way enjoy
          relevant devolvement facts and benchmarks.
        </p>
      </div>

      <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="form">
        <h3>Start a new timeline!</h3>
        <label for="childName">This timeline is for</label>
        <input ngModel type="text" placeholder="name" name="childName" id="childName" required />
        <label for="birthday">Birthday </label>
        <input ngModel type="date" name="birthday" id="birthday" #birthday="ngModel" required />
        <button class="btn">Lets Begin!</button>
      </form>
    </div>
  </div>
</div>
