img {
  width: 100%;
  height: 85vh;
}

.container {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.copy {
  /* background-color: lightgray; */
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.form {
  background-color: #aafac8;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.form h3 {
  text-align: center;
}

input {
  display: block;
  width: 96%;
  padding: 5px;
  margin-bottom: 5px;
}

.btn {
  width: 99%;
  background-color: #bfc0c0;
  padding: 5px;
  /* border-radius: 5px; */
}

label {
  font-size: 12px;
}

div .background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/baby.jpg");
  background-size: cover;
  width: 100%;
  height: 85vh;
  position: relative;
}

.white {
  color: #f4f0f0;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.start {
  margin-bottom: 15px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px;
  left: 30px;
  z-index: 1;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0.1;
  z-index: 2;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;

  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  /* background: orangered;
  opacity: 0.2; */
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
a {
  text-emphasis: none;
  color: white;
  text-decoration: none;
}
input[type="checkbox"] {
  background-color: red;
  /* opacity: 0; */
}

@media screen and (min-width: 600px) {
  .form {
    margin: 20px 60px;
  }

  .form h3 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  div .background {
    height: 92vh;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 20px;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .copy {
    width: 46%;
    text-align: left;
  }

  .form {
    width: 46%;
  }

  .info {
    display: flex;
    justify-content: space-around;
    margin: 20px 40px;
  }

  .line {
    width: 30px;
    height: 3px;
    background: #bfc0c0;
    margin-top: 5px;
  }

  /* .ham:hover .line {
    background: #aafac8;
  } */

  .ham {
    width: 25px;
    height: 25px;
    margin: 5px;
    position: absolute;
    left: 96%;
  }
}

/* @media screen and (min-width: 900px){

} */

/*media query for large screen
.btn:hover {
  background-color: #C5EFCB;
} */
